body {
    background: radial-gradient(circle,#63247E,#2F808C);
    color: white;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

.title {
    font-size: 50px;
    font-family: 'Noto Sans JP',sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.home, .introduction, .position, .rule, .link {
    position: relative;
    left:  10px;
    color: white;
    font-size: 30px;
    font-family: 'Noto Sans JP',sans-serif;
}

.nowtime {
    position: relative;
    padding: 8px 19px;
    margin: 2em 0;
    color: white;
    border-top: solid  white;
    border-bottom: solid  white;
    font-size: 20px;
    bottom: 0px;
    left: 10px;
    float: left;
    font-family: 'Noto Sans JP', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    bottom: 0;
    text-align: center;
}

.item {
    font-size: 30px;
    font-family: 'Noto Sans JP',sans-serif;
    color: white;
    text-align: left;
    margin-left: 4em;
}

.contents {
    font-size: 20px;
    text-align: left;
    margin-left: 6em;
    margin-right: 1em;
}